.about {
    display: flex;
    background: linear-gradient(0deg, rgba(70, 70, 70, 0.95), rgba(70, 70, 70, 0.95)), url('../img/blueprint.jpg');
}

.about__textContainer {
    max-width: 980px;
    margin: 0 auto;
    padding: 60px 20px;
    flex-grow: 1;
    text-align: justify;
    color: white;
    font-weight: light;
    opacity: 0;
    color: orange;
    transition: 1s;
}

.about.active .about__textContainer {
    opacity: 1;
    color: white;
}

.about__img {
    width: 600px;
    display: block;
    margin: 40px auto;
    margin-top: 0;
    border: 2px solid orange;
    border-radius: 5px;
}

span.orange {
    color: orange
}

.about__header {
    text-align: center;
    font-size: 26px;
}

.about__list {
    list-style: none;
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    padding: 0 40px;
}

.about__item {
    list-style-image: url('../img/list.png');
    flex-basis: 50%;
    transition: .2s;
    text-align: left;
}

.about__item:hover {
    color: orange;
}

@media (max-width: 768px) {
    .about__img {
        width: 400px;
    }

}

@media (max-width: 576px) {

    .about__img {
        width: 300px;
    }

    .about__list {
        margin-left: 20px;
    }

    .about__item {
        /* list-style-image: none; */
        flex-basis: 100%;
        padding: 5px 0;
    }
}