.contactMe {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('../img/road.jpg');
    background-size: cover;
    background-position: center bottom;
}

.contactMe__wrapper {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding: 60px 0px;
}

.contactMe__map {
    flex-basis: 45%;
    border: 2px solid orange;
    border-radius: 5px;
    height: 350px;
}

.contactMe__item {
    flex-basis: 45%;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgba(60, 60, 60, 0.8);
    color: white;
    border: 2px solid white;

}

.contactMe__header {
    padding: 10px 0;
}

.contactMe__container {
    padding: 5px 0;
}

.contactMe__paragraph {
    color: orange;
}

.contactMe__social {
    font-size: 40px;
    color: white;
    transition: .5s;
}

.contactMe__social:hover {
    color: orange
}

@media (max-width: 1200px) {
    .contactMe__wrapper {
        padding: 60px 0px;
        justify-content: space-around;
    }

}

@media (max-width: 768px) {
    .contactMe__wrapper {
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;

    }

    .contactMe__item {
        flex-basis: 60%;
        margin-top: 50px;

    }

    .contactMe__map {
        flex-basis: 60%;
    }

}

@media (max-width: 576px) {


    .contactMe__item {
        flex-basis: 80%;
    }

    .contactMe__map {
        flex-basis: 80%;
    }
}