.nav {
    background-color: rgb(60, 60, 60);
    width: 100%;
    height: 60px;
    position: -webkit-sticky;

    top: 0;
    z-index: 12;
}


.nav__list {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid green; */
}

.nav__item {
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}



.nav__link {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 58px;
    width: 100%;
    height: 100%;
    transition: .2s;
}

.nav__link:hover {
    color: orange;
}

.nav__item:last-child {
    margin-left: auto;
    margin-right: 100px;
    display: none;
    /* margin-left: 100px; */
}

.nav__burger {
    display: none;
    color: white;
    z-index: 16;
    font-size: 35px;
    text-align: center;
    line-height: 60px;
}

@media (max-width: 980px) {
    .nav {
        cursor: pointer;
        padding: 0 20px;
        position: fixed;
        border-bottom: 1px solid orange;
    }

    .nav__item:last-child {
        margin-right: 40px;
    }
}

@media (max-width: 768px) {
    .nav__item {
        flex-basis: 20%;
    }
}

@media (max-width: 576px) {
    .nav {
        padding: 0;
    }


    .nav .nav__item {
        transition: .5s;
        opacity: 0;
        flex-basis: 100%;
        height: 0;
        position: relative;
    }

    .nav .nav__item::after {
        position: absolute;
        content: "";
        background-color: white;
        height: 1px;
        top: 0%;
        left: 50%;
        width: 0;
        transform: translateX(-50%);
        z-index: 1;
        transition: .5s;
    }

    .nav.active .nav__item::after {
        width: 50%;
        background-color: orange;
    }

    .nav .nav__list {
        display: flex;
        flex-wrap: wrap;
    }

    .nav.active .nav__item {
        background-color: rgb(60, 60, 60);
        height: 60px;
        opacity: 1;
    }

    .nav__item:last-child {
        margin-right: 0;
    }

    .nav__burger {
        display: block;
        transition: .5s;
    }

    .nav.active .nav__burger i {
        color: orange;
    }
}