.about {
    /* padding: 100px 20px; */
    display: flex;
    /* background-color: #ddd; */
    background-color: rgb(70, 70, 70);
}

.about__textContainer {
    padding: 20px;
    flex-grow: 1;

    text-align: left;
    color: white;
    font-weight: light;
    opacity: 0;
    color: orange;
    transition: 1s;
}

.about.active .about__textContainer {
    opacity: 1;
    color: white;
}

.about__imgContainer {
    /* padding: 20px; */
    width: 50%;
    /* margin-right: 20px; */
    height: 250px;
    background-image: url('../img/about.jpg');
    background-color: rgb(70, 70, 70);
    overflow: hidden;

    display: block;
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
}

.about__list {
    list-style: none;
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;

    margin-left: 40px;
}

.about__item {
    list-style-image: url('../img/list.png');
    flex-basis: 50%;
    transition: .2s;
}

.about__item:hover {
    color: orange;
}

@media (max-width: 576px) {
    .about__imgContainer {
        display: none;
    }

    .about__list {
        margin-left: 20px;
    }

    .about__item {
        /* list-style-image: none; */
        flex-basis: 100%;
        padding: 5px 0;
    }
}