* {
    margin: 0;
    padding: 0;
}

.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(232, 232, 232);
}

.contact__div {
    flex-basis: 25%;
}

.contact__div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__logo {
    flex-grow: 0;
    flex-basis: 20%;
    justify-content: flex-start;
}

.contact__header {
    font-weight: normal;
}

.contact__div--left {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.contact__div--right {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    /* padding-left: 30px; */
}

.contact__icon {
    font-size: 30px;
    border: 3px solid orange;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 10px; */
}

.contact__div .contact__icon {
    margin-left: 0;
    margin-right: 10px;
}

.contact__clock {
    color: orange;

}