.services {
    /* background-color: rgba(255, 255, 255); */
    /* background-image: url('../img/pattern.png'); */
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../img/pattern.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 60px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services__container {
    /* border: 1px solid red; */
    flex-basis: 28%;
    background-color: #3C3C3C;
    margin: 10px;
    display: flex;
    padding: 10px;
    justify-content: center;
    position: relative;
    transition: .5s;
}

.services__container:nth-child(odd) {
    left: 100%;
}

.services__container:nth-child(even) {
    left: -100%;
}

.services__container.active {
    left: 0;
}

.services__img {
    border: 1px solid white;
    width: 75px;
    height: 75px;
    align-self: flex-start;
}

.services__inner {
    padding: 10px;
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0;
    font-size: 16px;
}

.services__header {
    font-weight: normal;
    line-height: 1;
    color: orange;
    font-size: 1.3em;
}

.services__p {
    font-size: 1em;
}

@media (max-width: 768px) {
    .services__container {
        /* border: 1px solid red; */
        flex-basis: 40%;
    }
}

@media (max-width: 576px) {
    .services__container {
        /* border: 1px solid red; */
        flex-basis: 100%;
    }
}